body,html,p,h1,h2,h3,h4,h5,h6,ul{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    font-size: 12px;
}

.clearfloat {
    content:"";
    display:block;
    clear:both;
}



.index{
    position: relative;
    width:900px;
    margin:0 auto;
    background-color: rgb(245,249,252);
}



/* 头部 */
.topblank{
    position: relative;
    height: 35px;
    width: 900px;
}
.topblank>span{
    position: relative;
    left:780px;
    line-height:35px;
    font-size: 12px;
    color: rgb(120,120,120);
}


.logtab{
    position: relative;
    width: 900px;
    height: 70px;

}
.logtab>img{
    position: relative;
    left: 30px;
}
.logtab>p{
    position: absolute;
    left:140px;
    top:10px;
}
.tab{
    position: absolute;
    left:360px;
    top:0px;
    border:1px solid rgb(120,120,120);
    border-radius:15px;
    padding:0 25px;
    cursor:default;
    background-color: #fff;
}
.tab>*{
    float:left;
    padding:5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.tab content{
    position: absolute;
    top:20px;
    left:500px;
}
.content p{
    position: relative;
    float:left;
    padding:5px;
}

/* tab动画区 */
.tab>li:hover{
    border-bottom:3px solid rgb(102,155,229);
    padding-bottom: 2px;
}
.tab>li:hover+contant{
    display: block;
}


.ad{
    position: relative;
    left:15px;
}

.main{
    position: relative;
}
.mainleft{
    position: relative;
    left:15px;
    top:10px;
    width: 210px;
    height: 690px;
    border:1px solid rgb(220,220,220);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.mainleft h3:first-of-type{
    position: relative;
    margin:20px 0 0 20px;
}
.mainleft p:first-of-type{
    position: relative;
    color: rgb(121,181,217);
    font-size: 12px;
    font-weight: bold;
    margin-left:20px;
}

.main .product{
    position: relative;
    margin: 5px
}
.product>*{
    float:left;
    padding:2px 10px;
    border-radius: 10px;
}
.product a{
    color: rgb(47,92,157);
    font-size: 12px;
}
.product li:hover>a{
    background-color: rgb(47,92,157);
    color: #fff;
}