/* reset */
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}


html{
    font-size: 16px;
}
body{
    font-size: 14px;
    font-family: "microsoft yahei";
    background-color: #f2f2f2;
    padding-top:45px;
}
header{
    position: fixed;
    top:0;
    left:50%;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
     max-width: 540px;min-width:320px;
    padding-right:60px;
    padding-left:10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    background-color: #f6f6f6;
    z-index: 999;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    
}
header .user{
    position: absolute;
    right:0;
    top:0;
    width:48px;
    height:44px;
}
header .user a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    color:#2eaae0;
    font-size:12px;
}
header .user a::before{
    content:"";
    position: absolute;
    top:0;
    left: 50%;
    height: 23px;
    width: 23px;
    background: url("../images/icons.png") no-repeat -59px -193px;
    background-size: 104px 328px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
header .soso_box{
    position: relative;
    top:8px;
    width: 100%;
    height: 24px;
    border:1px solid #999;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(111,111,111,0.5);
    padding-left: 30px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

header .soso_box::before{
    content:"";
    position: absolute;
    top:24%;
    left:10px;
    width: 13px;
    height: 13px;
    transform: translateX(-24%);
    -webkit-transform: translateX(-24%);
    background:url("../images/icons.png") no-repeat -60px -280px;
    /* 这个background-sizing指的缩放后精灵图的整体尺寸
    手机页面尺寸都是两倍大小
    原尺寸208 655 所以现在是104 328 */
    background-size: 104px 328px;
}
header .soso_box input{
    border:none;
    outline: none;
    font-size: 12px;
    position: relative;
    top:1px;
}
header .soso_box input:focus::placeholder{
    color:transparent;
}

/* banner样式 */
.banner{
    width: 100%;
     max-width: 540px;min-width:320px;
    margin:0 auto;
    background-color: yellowgreen;
    overflow: hidden;
    position:relative;
}
.banner ul{
    list-style: none;
}
.banner ul li{
    position: absolute;
    width:100%;
    left:0;
    top:0;
}
.banner ul li img{
    width: 100%;
}
.cir{
    position: absolute;
    bottom:0;
    right:0;
    z-index: 66;
    /* transform: translateX(-50%);
    -webkit-transform: translateX(-50%); */
}
.cir ol{
    list-style: none;
    overflow: hidden;    
}
.cir ol li{
    float:left;
    width: 0.5rem;
    height: 0.5rem;
    border-radius:0.5rem;
    background-color: #ccc;
    margin-right:0.2rem;
}
.cir ol li.cur{
    background: #fff;
    width: 1rem;
}

/* 导航样式 */
nav{
    width: 100%;
    max-width:540px;
    min-width: 320px;
    margin:0 auto;
    padding:4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;    
    background-color: #fff;
    overflow: hidden;
}
nav .row{
    height: 90px;
    margin-bottom:5px;
}
nav .row ul li{
    float: left;
    width: 33.333%;
    height: 45px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;    
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}
nav .row ul li:first-child{
    height:90px;
}
nav .row ul li div{
    width: 100%;
    height: 100%;
}
nav .row ul li:nth-child(1)>div{
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}
nav .row ul li:nth-child(3)>div{
    border-top-right-radius: 5px;

}
nav .row ul li:nth-child(5)>div{
    border-bottom-right-radius:5px;
}


nav .row:nth-child(1) ul li div{
    background-color: #ff697a;
}
nav .row:nth-child(2) ul li div{
    background-color: #3a98ff;
}
nav .row:nth-child(3) ul li div{
    background-color: #44c522;
}
nav .row:nth-child(4) ul li div{
    background-color: #fc9720;
}

nav ul li>div a {
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    text-shadow:1px 2px 1px rgba(111,111,111,0.5);
    color:#fff;
    line-height: 45px;
}
nav ul li:nth-child(1)>div a::before{
    content:"";
    position: absolute;
    bottom:10px;
    left: 50%;
    transform:translateX(-50%);
    width: 43px;
    height: 43px;
    background:url("../images/icons.png") no-repeat 0 -130px;
    background-size: 104px 328px;
}

nav .row:nth-child(2) ul li:nth-child(1) >div a::before{
    background-position: 0 -290px;
}
nav .row:nth-child(3) ul li:nth-child(1) >div a::before{
    background-position: 0 -188px;
}
nav .row:nth-child(4) ul li{
    height:45px;
}
nav .row:nth-child(4) ul li:nth-child(1)>div{
    border-bottom-left-radius: 0;
}
nav .row:nth-child(4) ul li:nth-child(4)>div{
    border-bottom-left-radius: 5px;
}
nav .row:nth-child(4) ul li:nth-child(5)>div{
    border-radius: 0;
}
nav .row:nth-child(4) ul li:nth-child(6)>div{
    border-bottom-right-radius: 5px;
}

nav .row:nth-child(4) ul li:nth-child(1) div a::before{
    display: none;
}



.sunNav{
    width: 100%;
    margin:0 auto;
     max-width: 540px;min-width:320px;
}
.sunNav ul{
    list-style: none;
    display:flex;
    width: 100%;
    height: 60px;
}
.sunNav ul li{
    position: relative;
    /* float: left; */
    height: 26px;
    margin-right: 1px;
    padding-top: 34px;
    background: #fff;
    text-align: center;
    font-size: 0.85em;
    flex-grow: 1;
}
.sunNav ul li::before{
    content:"";
    display: block;
    position: absolute;
    top: 11px;
    left: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background:url('../images/un_ico.png') no-repeat;
    background-size: 20px 315px;
}
.sunNav .row1 li:nth-child(1)::before{
    background-position: 0 -80px;
}
.sunNav .row1 li:nth-child(2)::before{
    background-position: 0 -292px;
}
.sunNav .row1 li:nth-child(3)::before{
    background-position: 0 -120px;
}
.sunNav .row1 li:nth-child(4)::before{
    background-position: 0 -140px;
}

.sunNav .row2 li:nth-child(1)::before{
    background-position: 0 -160px;
}
.sunNav .row2 li:nth-child(2)::before{
    background-position: 0 -180px;
}
.sunNav .row2 li:nth-child(3)::before{
    background-position: 0 -200px;
}
.sunNav .row2 li:nth-child(4)::before{
    background-position: 0 -220px;
}

.sunNav .row3 li:nth-child(1)::before{
    background-position: 0 -20px;
}
.sunNav .row3 li:nth-child(2)::before{
    background-position: 0 -262px;
}
.sunNav .row3 li:nth-child(3)::before{
    background-position: 0 0;
}
.sunNav .row3 li:nth-child(4)::before{
    background-position: 0 -60px;
}

.sale-wrap{
    width: 100%;
     max-width: 540px;min-width:320px;
    margin:0 auto;
    overflow: hidden;
}
.sale-wrap h2{
    position: relative;
    padding:0 8px;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    margin-top:8px;
}
.sale-wrap h2::before{
    content:"";
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    width: 79px;
    height: 15px;
    background: url("../images/home_text.png") no-repeat 0 0;
    background-size: 79px auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    background-color: #fff;
}
.title-button{
    position: absolute;
    right: 8px;
    top: 11px;
    display: inline-block;
    padding: 0 18px 0 12px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    background: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);
    background: linear-gradient(to right,#ff4e63,#ff6cc9);
}

.sale-box{
    flex:0 0 50%;
    max-width:50%;
    padding-left:8px;
    padding-bottom: 8px;
    margin-right: 2px;
    background: #f9f9f9;
    min-height: 175px;
    height:200px;
    float: left;
}
.sale-img{
    position: relative;
    height: 117px;
    overflow: hidden;
}
.sale-img .sale-hot{
    position: absolute;
    line-height: 20px;
    padding: 0 6px 0 8px;
    top: 0;
    background-color: #fd3a51;
    text-align: center;
    z-index: 10;
    left: 0;
    color: #fff;
    font-size: 12px;
}
.sale-img .sale-hot::after{
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    border-width: 20px 8px;
    border-style: solid;
    border-color: #fd3a51 transparent transparent;
}
.sale-img img{
    position: absolute;
    width: 100%;
    min-height: 117px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.sale-title{
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 8px;
}
.sell-info{
    padding: 0 8px;
    right: 4px;
    height: 22px;
    overflow: hidden;
}
.sell-info .sell-price{
    color: #ff495e;
    font-size: 18px;
    font-weight: 400;
}
.sell-info .sell-tag{
    display: inline-block;
    padding: 1px 6px;
    background: #fd3a51;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1;
    vertical-align: 1px;
}

.sale-list{
    margin-bottom: 4px;
    height: 88px;
    position: relative;
    width: 46%;
    background: #f9f9f9;
    overflow: hidden;
    float: left;
}
.sale-txt{
    margin: 0;
    padding: 8px;
    text-align: left;
    color: #444;
    font-size: 12px;
}
.sale-txt dt{
    color:#fd3a51;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.06em;
   line-height: 25px;
}
.sale-list img{
    position: absolute;
    right:0;
    bottom:0;
    width: 54px;
}

.sale-list.item{
    width: 22.5%;
    height:112px;
    margin-left: 2px;
}
.item .sale-txt{
    text-align: center;    
}
.sale-wrap .sale-list.item:nth-of-type(2n-1) dt{
    color: #6aabff;
}
.sale-wrap .sale-list.item:nth-of-type(2n-1) dd span{
    color: #6aabff;
}
.sale-wrap .sale-list.item:nth-of-type(2n) dt{
    color: #53ca72;
}
.sale-wrap .sale-list.item:nth-of-type(2n) dd span{
    color: #53ca72;
}
.sale-list.item img{
    left: 50%;
    bottom: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width:48px;
}


.active-wrap{
    width: 100%;
     max-width: 540px;min-width:320px;
    margin:10px auto;
    overflow: hidden;
    border-bottom:1px solid #c9c9c9;    
}
.active-wrap h2{
    position: relative;
    padding:44px 8px 0;
    height:0;
    background-color: #fff;
    margin-top:8px;
    overflow: hidden;
}
.active-wrap h2:before{
    content:"";
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    width: 79px;
    height: 15px;
    background: url("../images/home_text.png") no-repeat 0 0;
    background-size: 79px auto;
    background-position: 0 -19px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}
.active-wrap h2 img{
    position: absolute;
    top:50%;
    left:90px;
    width: 36px;
    height: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.sale-imgs{
    overflow: hidden;
    width: 100%;

}
.sale-imgs img{
    float:left;
    width: 50%;
    border-right:1px solid #ccc;
    box-sizing:border-box;  
}

.tool-box{
    width: 100%;
     max-width: 540px;min-width:320px;
    margin:0 auto;
    display:flex;
}
.tool-box a{
    flex-grow:1;
    padding-top: 26px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    text-align: center;
}
.tool-box a::before{
    content:"";
    display: block;
    position: absolute;
    left: 50%;
    top:2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: url("../images/icons.png") no-repeat 0 0;
    background-size: 104px 326px;
    height: 16px;
    width: 17px;
}
.tool-box a:nth-child(1)::before{
    background-position: -60px -153px;
}
.tool-box a:nth-child(2)::before{
    background-position: -60px -173px;
}
.tool-box a:nth-child(3)::before{
    width: 18px;
    height: 19px;
    background-position: -60px -308px;
}
.tool-box{
    background-color:#fff;
    height: 3.57em;
    margin-bottom:5px;
    border-bottom:1px solid #c9c9c9;
    border-top:1px solid #c9c9c9; 
    padding-top:8px;   
}
footer{
    width: 100%;
     max-width: 540px;min-width:320px;
    margin:10px auto;
    overflow: hidden;
}
footer .tool-ver{
    text-align: center;
}
footer .tool-ver a{
    font-size: 12px;
    display: inline;
    color:#888;
}
footer .tool-ver a:nth-child(2)::after{
    content:">";
    display: inline-block;
    border: 1px solid #666;
    border-width: 0 1px 1px 0;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: -2px;
    margin: 0 3px;
}    
footer p{
    color:#aaa;
    font-size: 12px;
    margin:10px auto;
    text-align: center;
}