/* 轮播图 */
.yc-carousel{
    width: 100%;
    margin: 100px auto 20px;
    position: relative;
    overflow: hidden;
    perspective:800px;
}
.yc-carousel ul{
    list-style: none;
}
.yc-carousel ul li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.yc-carousel ul li.yc-cur{
    display: block;
}
.yc-btns a{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    text-decoration: none!important;
}
.yc-btns a:hover{
    background-color: rgba(0,0,0,0.3);
}
#yc-leftBtn{
    left: 10px;
}
#yc-rightBtn{
    right: 10px;
}
.yc-circles{
    position: absolute;
    width: 150px;
    height: 16px;
    bottom: 10px;
    right: 10px;
    z-index: 55;    
}
.yc-circles ol li{
    float: left;
    padding:3px;
    border:4px solid #000;
    background-color: #fff;
    margin-right: 6px;
    border-radius: 50%;
    cursor: pointer;
}
.yc-circles ol li.yc-active{
    background-color: blue;
}
.yc-imageslist{
    width:100%;
    position: relative;
    perspective: 500px;
}
.yc-chips{
    width: 100%;
    height: 100%;
}
.yc-chips div{
    position: absolute;
    transition:all 2s ease-in 0s;
}
