/* 轮播图 */
.yc-carousel{
    width: 100%;
    margin: 100px auto 20px;
    position: relative;
    overflow: hidden;
    perspective:800px;
}
.yc-carousel ul{
    list-style: none;
}
.yc-carousel ul li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.yc-carousel ul li.yc-cur{
    display: block;
}
.yc-btns a{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    text-decoration: none!important;
}
.yc-btns a:hover{
    background-color: rgba(0,0,0,0.3);
}
#yc-leftBtn{
    left: 10px;
}
#yc-rightBtn{
    right: 10px;
}
.yc-circles{
    position: absolute;
    width: 150px;
    height: 16px;
    bottom: 10px;
    right: 10px;
    z-index: 55;    
}
.yc-circles ol li{
    float: left;
    width: 14px;
    height: 14px;
    background-color: rgba(0,0,0,0.6);
    border:4px solid transparent;
    margin-right: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.yc-circles ol li.yc-active{  
    background-color: #fff;
    border-color:#000;
}
.yc-circles ol li:hover{
    background-color: #fff;
    border-color:#000;
}
.yc-imageslist{
    width:100%;
    position: relative;
    perspective: 500px;
}
.yc-chips{
    width: 100%;
    height: 100%;
}
.yc-chips div{
    position: absolute;
    transition:all 2s ease-in 0s;
}


/* 轮播图下方广告 */

.yc-ad .yc-adimg1{
    background-image: url("../images/07.jpg");
}
.yc-ad .yc-adimg2{
    background-image: url("../images/08.jpg");
}
.yc-scaleImg{
    width: 100%;
    height: 100%;
    min-height: 170px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding:20px;
    color:#fff;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    transition:all 0.4s ease-in-out 0s;
}
.yc-scaleImg::before,.yc-scaleImg:before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.yc-ad .col-md-6{
    overflow: hidden;
    margin:30px 0;
}
.yc-scaleImg:hover{
    transform: scale(1.08);
}
.yc-ad .yc-adimg1 h3{
    font-size: 30px;
    line-height: 30px;
    position: relative;
    margin-bottom: 35px;
    font-weight: normal;
}
.yc-ad .yc-adimg1 h3::after{
    content: " ";
    left: 50%;
    z-index: 1;
    width: 30px;
    height: 3px;
    bottom: -17px;
    background: #fff;
    margin-left: -15px;
    position: absolute;
}
.yc-buyNow{
    position: relative;
    color: #fff !important;
    border: 2px solid #fff;
    padding:5px 20px;
    font-weight: 400;
}
.yc-buyNow:hover{
    background-color: #fff;
}
.yc-ad .yc-adimg2 p{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 30px;
}
.yc-ad .yc-adimg2 span{
    position: relative;
}
.yc-ad .yc-adimg2 p::before,.yc-ad .yc-adimg2 p:before{
    content: " ";
    top: 15px;
    width: 40%;
    height: 2px;
    background: #fff;
    position: absolute;
    left:100%;
}
.yc-ad .yc-adimg2 p::after,.yc-ad .yc-adimg2 p:after{
    content: " ";
    top: 15px;
    width: 40%;
    height: 2px;
    background: #fff;
    position: absolute;
    right:100%;
}

/* 分类 */
.yc-featured{
    margin:10px 0 30px;
    text-align: center;    
}
.yc-title{
    color: #687074;
    font-size: 24px;
    padding: 0 12px;
    position: relative;
    display: inline-block;
    line-height: 34px;
}
h2.yc-title::before,h2.yc-title:before,h2.yc-title::after,h2.yc-title:after{
    content: ' ';
    width: 180%;
    position: absolute;
    border-width: 1px;
    border-color: #bbb;
    top: 15px;
    height: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
}
h2.yc-title::before,h2.yc-title:before{
    left:100%;
}
h2.yc-title::after,h2.yc-title:after{
    right:100%;
}
.yc-introduce{
    text-align: center;
    color: #888;
    font-size: 14px;
}

.yc-productCategory .col-md-4{
    overflow: hidden;
    margin:30px 0;
}
.yc-productCategory .yc-scaleImg{
    display: block;
    outline:none;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-clip: padding-box;
    text-decoration: none!important;    
}
.yc-backimg-1{
    background-image: url("../images/13.jpg");
}
.yc-backimg-2{
    background-image: url("../images/14.jpg");
}
.yc-backimg-3{
    background-image: url("../images/15.jpg");
}
.yc-productCategory .yc-category{
    position: relative;
    display: block;
    margin-top:120px;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    border-top: 5px solid rgba(255,255,255,0.5);
    border-bottom: 5px solid rgba(255,255,255,0.5);
}
.yc-productCategory .yc-category span:first-child{
    color: #fff;
    display: block;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 12px;
}
.yc-productCategory .yc-category span:last-child{
    color: #ddd;
    font-size: 24px;
}

/* 下方轮播图 */
.yc-caro .img-responsive{
    width: 100%;
}
.yc-caro .carousel-inner{
    background: url("../images/twitter-bg.jpg") no-repeat;
    background-size: cover;
}
.yc-caro .yc-featured{
    position: absolute;
    top:5%;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);    
    z-index: 2;
    color:#fff;
    font-size: 0.5em
}
.yc-caro>.yc-featured h2{
    color:inherit;
}

.yc-caro .carousel-inner .item .yc-featured{
    width: 70%;
    margin-top:15%;
    z-index: 22;
    color:#fff;
}
.yc-caro .carousel-inner .item .yc-featured p{
    font-size: 22px;
 }


 /* 轮播下方通用三个标签 */
 .yc-product-serve{
     margin:20px 0;
 }
 .yc-product-serve .col-md-4{
     border-radius:2px;
     text-align: center;
     margin:20px 0;
 }
 .yc-product-serve .col-md-4 .yc-serve-icon{
    background: #18ba9b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    text-align: center;
    display: block;
    color:#fff;
    font-size:30px;
}
 .yc-product-serve .col-md-4:hover .yc-serve-icon{
    background: #8bdccd;
 }
 .yc-product-serve .yc-product-in{
     padding:15px 30px;
     border:1px solid #ccc;     
 }
 .yc-product-serve .col-md-4 h3{
    color: #555;
    font-size: 20px;
    font-weight: 400;
 }
 .yc-product-serve .col-md-4 a{
    color: #c9253c;
    font-size: 14px;
    font-weight: 400;
 }


 /* 折扣收藏夹 */
.yc-collect-banner{
    background:url("../images/collection-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    color:#fff;
    padding:50px 0;
    position: relative;
    overflow: hidden;
}
.yc-collect-banner::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.yc-collect-banner .col-md-7{
    margin-bottom: 40px;
}
.yc-collect-banner p{
    margin:20px 0;
    width: 70%;
}
.yc-collect-banner .yc-discount{
    float:left;
    margin-right:30px;
}
.yc-collect-banner .yc-percentNum{
    color: #fff;
    float: left;
    padding: 10px 0;
    font-size: 200px;
    font-weight: 400;
    line-height: 150px;
    margin-right: 15px;
}
.yc-collect-banner .yc-discountPer{
    display: block;
    margin-right: 30px;
    font-size: 70px;
    margin-top: 30px;
    font-weight: 200;
    line-height: 80px;
}
.yc-collect-banner .yc-discountOff{
    font-size: 40px;
    font-weight: 400;
}
.yc-collect-banner .yc-newProduct{
    position: absolute;
    display: inline;
    top: -30px;
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    text-align: center;
    background-color: #18ba9b;
    border-radius:50%;
}
 /* 赞助商 */


/* 媒体查询 */
@media screen and (max-width:991px){
    h2.yc-title::before,h2.yc-title:before,h2.yc-title::after,h2.yc-title:after{
        width: 135%;
    }
}
@media screen and (max-width:768px){
    h2.yc-title::before,h2.yc-title:before,h2.yc-title::after,h2.yc-title:after{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    h2.yc-title::before,h2.yc-title:before,h2.yc-title::after,h2.yc-title:after{
        width: 45%;
    }
}
