html,body,ul,ol,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    font-size: 12px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
.clearfix::after,.clearfix:after{
    content:"";
    display: block;
    clear:both;
}





/* 黑色可隐藏头部 */
.wrap-head{
    width: 100%;
    min-width: 1000px;
    height: 56px;
    background: #25292e;
    line-height: 56px;
    /* position: fixed; */
}
.head{
    width: 1000px;
    height: 55px;
    margin:0 auto;
}
.head .logo{
    display: inline-block;
    width: 95px;
    height: 38px;
    background: url(./img/icon.png);
    margin-top: 10px;
}
.head .mynav{
    float:right;
    height: 56px;
    line-height: 56px;
}
.head .mynav li{
    float:left;
}
.head .mynav .login a{
    margin-right: 10px;
    color: #ccc;
}
.head .mynav .line{
    border-left: 1px solid #666;
    height: 8px;
    margin-top:25px;
}
.head .mynav .cart a{
    color: #666;
    padding: 0 17px;    
}


/* 头部白色tab */
.toptab{
    width: 1000px;
    height: 55px;
    margin:0 auto;
    background-color: #fff;
    position: relative;
    overflow: hidden;    
}
.toptab>*{
    float: left;
}
.toptab li a{
    font-size: 16px;
}
.toptab li{
    float: left;
    border-bottom: 4px solid #ededed;
    height: 45px;
    width: 121px;
    text-align: center;
    line-height: 45px;
}
.toptab .homepage{
    width: 118px;
    text-align: left;
}
.toptab .subLi{
    width: 164px;
}


.toptab .searchbox{
    position: relative;
    height: 45px;
    width: 260px;
    border-bottom: 4px solid #ededed;
}
.toptab .searchbox .searchAnime{
    position: relative;
    height: 45px;
    width: 260px;
    left: 280px;
    transition: 0.5s;
    border-bottom: 4px solid #333;
}
.toptab .search{
    border:0;
    outline: none;
    height: 40px;
    width: 200px;
}
.toptab .searchIcon{
    display: block;
    position: absolute;
    top: 3px;
    left: 954px;
    width: 33px;
    height: 40px;
    z-index: 9;
    background: url(./img/icon.png) no-repeat;
    background-position: -167px -145px;
    background-color: #fff;
    cursor: pointer;
}


/* 动画区 */
.toptab li:hover{
    border-bottom: 4px solid #333;    
}



/* 轮播图 */
.carousel{
    position: relative;
    width: 1000px;
    height: 475px;
    margin: 0 auto;
    overflow: hidden; 
}
.carouselContainer{
    position: relative;
    width: 1500%;
    height: 475px;
    /* transition:1s;  */
}
.carouselContainer li{
    float: left;
}

.actionpoint{
    width: 1000px;
    height: 18px;
    margin: 8px auto;
    text-align: center;
}
.actionpoint li{
    margin:0 3px;
    width: 20px;
    height: 4px;
    background-color: #ccc;
    display: inline-block;
}
.carouselContainer li img{
    width: 1000px;
    height: 475px;
}

.itempic{
    width: 1000px;
    height: 403px;
    margin: 0 auto;
}
.itempic .imgbox{
    width: 317px;
    height: 403px;
    display: inline-block;
    margin-left: 13px;
}
.itempic .imgbox img{
    margin: 0 16px 16px  0;
}



.title{
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #333;
    width: 1000px;
    margin: 36px 0px 20px 0px;
    margin:10px auto;

}
.mainitem{
    width: 1000px;
    margin:0 auto;
}
.mainitem .itemlist{
    position: relative;
    width: 316px;
    height: 366px;
    margin: 0px 15px 30px 0;
    float:left;
}
.mainitem .itemlist img{
    width: 316px;
    height: 316px;
}
.mainitem .goods{
    position: absolute;
    width: 316px;
    height: 316px;
    display: block;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
    display: none;
}
.mainitem .price{
    margin: 20px;
    color: #00f;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}
.mainitem .goodsname{
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin:0 auto;
    margin-top: 80px;
    font-size: 14px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mainitem .goodsdesc{
    text-align: center;
    color: #fff;
    width: 210px;
    margin:10px auto;
}
.mainitem .seller{
    position: relative;
    width: 316px;
    height: 50px;
    /* line-height: 50px; */
}
.mainitem .seller img{
    width: 50px;
    height: 50px;
}
.mainitem .seller span{
    position: absolute;
    left:55px;
    top:10px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #666;
}
.mainitem .seller .great{
    position: absolute;
    right: 0;
    background: url(./img/1.png) no-repeat;
    background-position: 35px 10px;
    padding-right: 30px;
    height: 40px;
    display: inline-block;
    line-height: 40px; 
    font-size: 14px;
}
/* 动画区 */
.mainitem .itemlist:hover>.goods{
    display: block;
}


