
/* 论坛页面 */
body{
    background-color: #ebebeb;
}
a:hover{
    text-decoration: none!important;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff;
    color: inherit;
}
.container{
    width: 990px !important;
}
@media screen and (max-width: 920px){
    .container{
        width: 100% !important;
    }
}
.top-menu-wrap{
    position: relative;
    z-index: 1001;
    width: 100%;
    min-height: 50px;
    background-color: #fff;
}

/* 搜索框 */
.navbar-form{
    position: relative;
    padding:0;
}
.search-box input.form-control{
    width: 260px;
    height: 32px;
    padding-right: 30px;
}
.search-box input:focus{
    box-shadow: none;
    -webkit-box-shadow: none;    
}
.search-box .glyphicon.glyphicon-search{
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    color: #999;
}
/* 文字导航 */
.nav-txt{
    margin-top:15px;

}
.nav-txt a{
    background-color: #fff;
    color: #333;
    padding: 16px;
    line-height: 20px;
}
.discover{
    font-weight: bold;
    margin-left:10px;
}

/* 用户登录注册按钮 */
.user-nav{
    margin-top:10px;
}
.user-nav a{
    height: 32px;
    color: #fff;
    min-width: 76px;
    border-radius: 2px;
    padding: 0 10px;
    line-height: 34px;
    font-size: 14px;
    border: none;
}
.user-nav .login{
    background-color: #59b0ff;
}
.user-nav .register{
    background-color: #449d44;
}
.btn-primary:hover{
    background-color: #4daaff;
    color:#fff;    
}
.btn-success:hover{
    background-color: #38b836;
    color:#fff;
}

/* 内容部分 */
.col-md-3{
    padding:15px;
}
/* 左侧 */
.wrap-container .container{
    background-color: #fff;
    border:#ccc;
    margin-top:35px;
}
.wrap-container .nav-tabs{
    position: relative;
    z-index: 1;
    min-height: 63px;
    margin: 0;
    padding: 30px 20px 0;
    border-color: #e6e6e6;
}
.wrap-container .nav-tabs li{
    float: right;
}
.wrap-container .nav-tabs li a{
    border:none!important;
    color:#555;
    /* padding-bottom: none; */
}
.wrap-container .nav-tabs li:hover{
    border-bottom: 2px solid rgb(21,95,170);    
}
    
.wrap-container .nav-tabs li.active{
    color: #555;
    cursor: default;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid rgb(21,95,170);
}
.wrap-container .list-title{
    position: absolute;
    top: 16px;
    left: 20px;
    margin: 0;
    font-size: 20px;
}
.commit-list li{
    position: relative;
    z-index: 0;
    min-height: 45px;
    padding: 14px 0 14px 50px;
    border-bottom:1px solid #eee;
}
.commit-list h4{
    font-size: 14px;
}
.commit-list p{
    font-size: 12px;
    color:#333;
}
.wrap-container .col-md-9{
    border-right:1px solid #ddd;
}
.col-md-3 h3{
    font-size: 14px;
}
.hot-topic{
    padding-bottom: 20px;
}
.hot-user{
    padding: 20px 0;
    border-top: 1px solid #E2E2E2;
}
footer{
    padding: 30px 0 10px;
    font-size: 12px;
    text-align: center;
}