*{
    margin:0;
    padding:0;
}
button, input, select, textarea, p, span {
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    color: #888;
}
.clearfloat::after,.clearfloat:after{
    content:"";
    display: block;
    clear:both;
}
div{
    display:inline-block;
}
ul{
    list-style: none;
}
a{
    font-size: 12px;
    color:#888;
    text-decoration: none;
}
.hot{
    color: rgb(221,79,80);
}
.ahover:hover{
    color:rgb(221,79,80);
}
.ahover a:hover{
    color:rgb(221,79,80);    
}
.line{
    position: relative;
    top:3px;
    height: 15px;
    border-left:1px solid #888;
}
.arrow{
    position: relative;
    border:4px solid rgb(239,239,239);
    border-top-color:rgb(221,221,221);
    top:2px;
}
.button{
    background-color: rgb(221,79,80);
    color: #fff;
    height: 36px;
    padding:0 25px;;
    line-height: 30px;
    border:none;
    font-size: 14px;
}





    /* 顶部导航 */
.topbar{
    position: relative;
    width: 1366px;
    height: 32px;
    background-color: rgb(239,239,239);
}

    /* 左侧 */
.topbarleft{
    position: relative;
    left:93px;
    height: 32px;
}
.tcode>a{
    line-height: 30px;
}
.ico{
    display: inline-block;
    position: relative; 
    top:3px; 
    width: 15px;
    height: 15px;
    background-image: url(./images/back.png)
}

.codecon{
    position: absolute;
    width: 115px;
    height: 150px;
    top:35px;
    background-color: #fff;
    border:1px solid rgb(221,221,221);
    display: none;
}
.codecon>img{
    position: relative;
    margin:5px;
    width:105px;
    height:105px;
}
.codecon>a{
    position: relative;
    top:-15px;
    left:15px;
}
.ico.code{
    background-position: -213px -106px;
}
.ico.phone{
    background-position: -230px -105px;
}



/* 动画区 */
.tcode:hover>.codecon{
    display: block;
}


    /* 右侧 */
.topbarright {
    position: relative;
    left:595px;
}
.topbarright .litbox{
    padding:7px;
}
.topbarright>a{
    margin:0 7px;
}
.aspecial{
    background-color: rgb(221,79,80);
    color: #fff;
    border-radius: 5px;
    padding:5px 10px;
}
.topbarright .content{
    position: absolute;
    top:28px;
    background-color: #fff;
    border:1px solid rgb(221,221,221);
    border-top-color: #fff;
    display: none;
    z-index: 10;
}
.content a{
    padding:8px 0;
    height: 14px;
    display: list-item;
    list-style: none;
    text-align: center;
}
.content.ser{
    width: 73px;
    left:191px;
}
.content.des{
    left:272px;
    width:84px;
}
.content.nav{
    left:0;
    width: 440px;
}

/* 动画区 */
.aspecial:hover{
    background-color:rgb(247,112,113);
}
.topbarright .litbox:hover{
    background-color: #fff;

}
.topbarright .litbox:hover>.content{
    display: block;
}
.topbarright .litbox:hover>.arrow{
    border-color:#fff;
    border-top-color: #888;
}




/* logo与搜索区域 */
.toplog{
    position: relative;
    margin:0 auto;
    padding:30px 0;
    width: 1180px;
    height: 36px;
    background-color: #fff;
    left:90px;
}
.toplog>*{
    position: relative;
    float: left;   
}
.toplog .log{
    position: relative;
    width: 236px;
    height: 35px;
    background: url(./images/global.png) -3px -3px;
}
.toplog input:first-of-type{
    border: 2px solid rgb(221,79,80);
    border-left: none;

    height: 32px;
    width: 285px;
}

.toplog .arrow{
    position: absolute;
    top:15px;
    left:70px;
    border:4px solid #fff;
    border-top-color: #888;
}
.toplog em{
    width: 12px;
    height: 10px;
    left:94px;
    margin: 10px 3px 0 10px;
    display: block;
    position: absolute;
    top: 1px;
    background: url(./images/sprite.png) -311px -9px;
}
.toplog form{
    margin-left:120px;

}
#serchtitle {
    line-height: 32px;
    padding-left: 10px;
    width: 80px;
    height: 32px;
    border: 2px solid rgb(221,79,80);
    border-right: 1px solid rgb(239,239,239);
}
.toplog form>*{
    float:left;
}
.toplog .serchlist{
    display: none;   
}

#serchtitle:hover,#serchtitle:hover>.serchlist{
    display: block;
}

.toplog span{
    line-height: 35px;
    padding:0 20px;
}



/* 中心导航 */
.wrap-top-menu{
    position: relative;
    height: 40px;
    width: 1344px;
    background-color: rgb(51,51,51);
    display: block;
}
.top-menu{
    position: relative;
    height: 40px;
    width: 1180px;
    margin:0 auto;
    display: block;
}
.top-menu ul{
    position: relative;
    left:40px;  
}
.top-menu li{
    position: relative;
    height: 40px;
    float:left;
    padding:0 35px;
    color: #fff;
    line-height: 40px;  
    text-align: center;
}
.top-menu li a{
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}
.top-menu .lastli{
    position: relative;
    left:400px;
}
.top-menu .content{
    position:absolute;
    width: 100%;
    text-align: center;
    top:40px;
    left:0;
    background-color: rgb(221,79,80);
    z-index: 10;
    line-height: 10px;
    display: none;
}
.backselect{
    background-color: rgb(221,79,80);
}

/* 动画区 */
.top-menu li:hover{
    background-color: rgb(221,79,80);
}
 .top-menu li:hover>.content{
    display: block;
} 


/* 轮播图 */
.contain{
    position: relative;
    width: 1344px;
    height: 420px;
    overflow: hidden;
}
.contain .column{
    position: absolute;
    width: 280px;
    height: 420px;
    left:90px;
    padding:10px 30px;
    z-index: 10;
    background-color: #fff;
}
.contain ul{
    position: absolute;
    left:-270px;
    width: 1000%;
    height: 420px;
}
.contain .column a{
    display: inline-block;
    line-height: 20px;
    margin:5px 15px;
}
.contain .column p{
    color: #000;
    font-size: 14px;
    margin:15px;
}
.contain li{
    width: 2000px;
    height: 420px;
    float:left;
}
 .contain li:first-of-type{
    background-image: url(./images/389_9063.jpg);
} 
.contain li:nth-of-type(2){
    background-image: url(./images/389_9267.jpg);
}
.contain li:nth-of-type(3){
    background-image: url(./images/389_9474.jpg);
}
.contain li:nth-of-type(4){
    background-image: url(./images/389_9308.jpg);
}
.contain li:last-of-type{
    background-image: url(./images/389_9063.jpg);
}





/* 中途 */
.modele{
    position: relative; 
    width: 1180px;
    height: 161px;
    margin: 0 auto;
    border-top: 1px #eee solid;
    border-left: 1px #eee solid;
}
.modele li{
    width: 294px;
    height: 42px;
    overflow: hidden;
    padding: 60px 0;
    float: left;
    border-right: 1px #eee solid;
    border-bottom: 1px #eee solid;
}
.modele a{
    color:#000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}




.title{
    position: relative;
    margin-top:60px;
    left:90px;
    cursor: pointer;
    display: inline-block;
}



/* 找设计师 */
.column-index{
    position: relative;
    width: 1180px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}
.column-index p{
    font-size: 15px;
    color: #888; 
}
.column-index ul{
    list-style: none;
}
.column-index ul li{
    height: 80px;
    width: 160px;
    border: 1px solid rgb(221,221,221);
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}
.column-index .content{
    width: 1040px;
    height: 327px;
    border: 1px solid rgb(221,221,221);
    position: absolute;
    left:160px;
    top:0;
    background-color: #fff;
    display: none;  
    cursor: auto;
    overflow:hidden;
}
.content.show{
    display:block;
}  
.column-index .dto{   
    width: 5000px;
    position: relative;
}
.column-index .dbt{
    width: 5000px;
    position: relative;
}
.dto>img{
    width: 184px;
    height: 184px;
    float: left;
    margin:10px; 
}

.dbt>img{
    float:left;
    width: 82px;
    height: 82px;
    margin:0 10px;
}
.content.show span{
    position: absolute;
    top:100px;
    background-color: rgba(0,0,0,0.3);
    display: block;
    font-size: 20px;
    padding:10px;
    z-index: 10;
    color: #fff;
    cursor: pointer;
}
.content.show span:first-of-type{
   left:10px;
}
.content.show span:last-of-type{
   right:10px;
}
.content.show span:hover{
    background-color: rgba(0,0,0,0.5)
}





/* 设计案例 */
.designcase{
    position: relative;
    width: 1180px;
    margin:30px auto;
    display: block;
}
.designcase .casebox{
    position: relative;

    text-align: center;
}
.designcase img{
    width: 280px;
    height: 280px;
}
.designcase img:hover{
    opacity: 0.7;
    filter:opacity(7);
}
.designcase a{
     margin:0 5px 5px 0; 
    display: block;
    font-size: 15px;
    color:#000;
}

.design-mechanism{
    position: relative;
    width: 1180px;
    margin:30px auto;
    display: block;
    overflow: hidden;
    height: 174px;
}
.design-mechanism img{
    position: absolute;
    transition: 1s;
}
.design-mechanism img:nth-child(2){
    left:550px;   
    z-index: 2;
}
.design-mechanism img:nth-child(3){
    left:760px;
    z-index: 3;
}
.design-mechanism img:nth-child(4){
    left:970px; 
    z-index: 4;
}
.pictures{
     position: relative;
    width: 1180px;
    margin:30px auto;
    display: block;
}
.pictures img{
    float:left;
    margin:0 10px 10px 0;
}
.pictures img:hover{
    opacity: 0.7;
    filter:opacity(7);
}