html body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfloat::after,.clearfloat:after{
    content:"";
    display: block;
    clear: both;
}
.greyfont{
    color: rgb(100,100,100);
    font-size: 12px;
}




.yuanyuan{
    position: relative;
    width: 1366px;
    margin:0 auto;
}
.nav{
    position: relative;
    width: 1366px;
    border-bottom: 2px solid rgb(17,100,186);
    margin-top:13px;
}
.nav .navtop{
    position: relative;
    left:735px;
}
.navtop>*{
    position: relative;
    float:left;
    margin:0 10px;
}
.navtop p .greyfont{
    position: relative;
    top:-10px;
}
.navtop img{
    left:10px;
}
.navtop span{
    color: #f00;
    font-size: 13px;
    margin-bottom: 5px;
}
.nav>img{
    position: absolute;
    left: 325px;
    top:0;
}
.navtab{
    position: relative;
    left: 470px;
    margin: 0;
}
 .navtab>li{
    float:left;
} 
 .navtab p{
    padding:10px;
    margin: 5px 5px 0 0;
    font-size: 12px;
} 

.navtab li:hover>p{
    background-color: #f00;
    color: #fff;
}



.backgro{
    position: relative;
    width: 1366px;
    height: 315px;
    background-image: url(./images/yuan_11.png);
}


.main{
    position: relative;
    width: 710px;
    margin:0 auto;
}
.main *{
    position: relative;
}
.main>h2{
    margin-top:35px; 
    margin-bottom: 0;
    text-align: center;
}
.main>h4{
    margin:0;
    text-align: center;
    color: rgb(100,100,100);
}
.main .servicebox{
    position: relative;
    width: 180px;
    height: 240px;
    float: left;
}
.servicebox img{
    left:0;
    right:0;
    margin:0 auto;
}
.servicebox.blank{
    margin-right: 80px;
}
.casebox{
    position: relative;
    width: 212px;
    height: 274px;
    border: 1px solid rgb(190,190,190);
    float: left;
}
.casebox h6{
    color: rgb(104,187,250);
    border-bottom: 1px solid rgb(100,100,100);
}
.casebox img{
    position: relative;
    left:10px;
}
.casebox a{
    position: absolute;
    top: 240px;
    left: 140px;
    background-color: rgb(104,187,250);
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    padding:5px;
}
.casebox.blank{
    margin-right: 30px;
}
.news{
    position: relative;
    display: inline-block;
    width: 310px;
    height: 265px;
    margin-top: 20px;
}
.tit>span{
    color: #f00;
}
.position.greyfont{
    position: absolute;
    left:130px;
    top:40px
}
.more{
    position: absolute;
    right: 0;
    top:0;
    font-size: 12px;

}
.news>ul{
    list-style-type: square;
    padding:0;
}




.job{
    position: absolute;
    left:390px;
    top:620px;
    width: 320px;
}
.job table{
    text-align: center;
}
.job tr:nth-child(2n-1){
    background-color: rgb(190,190,190);
}



.cus{
    position: relative;
}
.cus>a{
    position: relative;
    left:650px;
    background-color: rgb(104,187,250);
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    padding:5px;
}
.cus .link{
    position: relative;
    font-size: 12px;

}
.link>span{
    color: #f00;
    font-size: 14px;
}


.bott{
    position: relative;
    background-image: url(./images/yuan.png) ;
    background-size: cover;
    height: 325px;
}
.bott .list{
    position: relative;
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    text-align: center;
    padding:5px;
}
.bott .text{
    position: relative;
    width: 710px;
    margin:10px auto;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    text-align: center;
}
.code{
    position: relative;
    left:430px;
    width: 125px;
}
.code>p{
    position: relative;
    left: 30px;
    color: #fff;
    margin: 0 0 30px 0;;
   
}
.code>img{
    position: relative;
    width: 124px;
    height: 124px;
}
.bott textarea{
    position: absolute;
    width: 293px;
    height: 130px;
    left:630px;
    top:100px;
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    background-color:rgba(0,0,0,0.5); 
}
