body,html{
    padding:0;
    margin:0;
}
.father{
    width:400px;
    height:400px;
    background-color: #ff0;
}
.son{
    width:100px;
    height:100px;
    background-color: #f0f;
}
.father+ [src="../20170708_background+juzhong/3.png"]{
    border: 2px solid #aaf;
}
.father [class~="son"]{
    border:2px solid #00f;
}
.mom [src^="dsa"]{
    border:5px solid #000;
}
.content{
    width:200px;
    height: 200px;
}
.content>*{
     width: 100px;
    height: 100px;
    background-color: #aaf;
    float: left;
    transition:all 0.5s;
}
.content1:hover{
    border-radius:100% 0 0 0;
}
.content2:hover{
    border-radius:0 100% 0 0;
}
.content3:hover{
    border-radius:0 0 0 100%;
}
.content4:hover{
    border-radius: 0 0 100% 0;
}
.background{
    width: 768px;
    height: 336px;
    background-position: 50% 50%;
    background-size:cover;
    background-repeat: repeat;
    background-origin:border-box;
    background-clip: padding-box;
    background-blend-mode:soft-light;
    border:50px solid rgba(32,32,32,0.5);
    background-image:url("./green.png"),url("../20170708_background+juzhong/1.jpg");

}
.shadow{
    width:100px;
    height:100px;
    border:50x solid rgba(0);
    background-size:cover;
    background-image:url("../20170708_background+juzhong/3.png");
}