/*#demo{

}

.container{

}
#demo.container{

}
.demo.container2{
    width:200px;
    height:300px;
    background-color: #192;
}
.container1,.container3{
    width:200px;
    height:300px;
    background-color: #322;
}
.container .container2{
    background-color: #f3f;
}
.container1>.son{
    height:100px;
    width:100px;
    background-color: #fff; 
}
.container2+.container3{*/

/*
.demo.demo1{
    width:100px;
    height:100px;
    background-color: #333;

}
.demo.demo2{
    width:300px;
    height:300px;
    background-color: #3f3;
}
.demo.demo1:hover+.demo.demo2{
    display:none;
}
a:link{
    color:#000;   
}
a:visited{
    color:#3f3;
}
a:hover{
    color:#f33;
}
a:active{
    color:#f3f;
}*/
.father1{
    width:1410px;
    height:30px;
    margin:0 auto;
    /*border:1px solid #000;*/
    font-size:10px;
}
.son1{
    height:30px;
    width:200px;
    margin:0;
    display:inline;
}
.son2{
    height:30px;
    width:200px; 
    margin-left:500px;
   display:inline;
   
}
.father2{
    height:70px;
    width:1410px;
    margin:0 auto;
    font-size:25px;
}
dl{
    margin-left:200px;
   
}
dt{
    display:inline;
}
.father3{
    height:300px;
    width:1410px;
     margin:0 auto;
}
.father4{
    height:640px;
    width:1000px;
    background-color: #f4f4f4;
    margin:0 auto;
    /*padding:-50px;*/
}
.son3{
    margin:12px;
    height:290px;
    width:225px;
    float:left;
    background-color: #fff;
}
.item{
    height:150px;
    width:230px;
    margin:0;
}
.father5{
    margin:0 auto;
    text-align: center;
    background-color: #b3bdc6;
    height:30px;
    width:1410px;
}
.father6{
    margin:0 auto;
    text-align: center;
    background-color: #ececec;
    height:70px;
    width:1410px;
}
.a1{
    background-color: #cacad0;
    height:10px;
    width:1410px;
    margin:10px auto;
}
.a2{
    margin:0 auto;
}
a3{
    background-color: #cacad0;
    height:1px;
    width:1410px;
    margin:10px auto;
}
.font{
    text-overflow: ellipsis;
    font-size:15px;
}